.hero {
  background: url("../../assets/hero-img.jpg") no-repeat center center;
  background-size: cover;
  height: 455px;
  width: 100%;
  position: relative;
}

.home-hero-brush {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  width: 100%;
}

.home-hero-cta {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}

.home-hero-cta button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}
