/* Other rules */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #000;
  --grey: #999;
  --grey-light: #bbb;
  --search-bg: #f5f6f7;
  --primary: #2cb1ba;
  --primary-hover: #2baeb7;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* Titles */
h1 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
}
/* Header */

header {
  width: 100%;
  border-bottom: 1px solid var(--primary);
  height: 100px;
  padding: 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 130px;
}

.header .search_container {
  flex: 1;
  margin-left: 10rem;
}

.search_container form > input[type="text"] {
  width: 100%;
  font-size: 1em;
  outline: none;
  border-style: none;
  border-radius: 5px;
  color: var(--grey);
  border: 1px solid #54545452;
  padding: 1rem 0.5rem;
  background-color: var(--search-bg);
}

.search_container form > input[type="text"]::placeholder {
  padding-left: 2rem;
}

.header .connect_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.connect_container button {
  margin-right: 1.4rem;
  outline: none;
  border-style: none;
  border-radius: 5px;
  border: 1px solid var(--primary-hover);
  padding: 0.7rem 1rem;
}

.connect_container button:not(button:last-child) {
  background-color: white;
  color: var(--primary);
}

.connect_container button:last-child {
  background-color: var(--primary);
  color: white;
}

/* Offers */
.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card_wrapper > a {
  text-decoration: none;
  color: inherit;
}

.card_wrapper .card_container_parent {
  width: 235px;
  padding: 0 0.6rem 1.6rem;
  cursor: pointer;
  margin-right: 2rem;
}

.card_wrapper .card_container_parent:last-child {
  margin-right: 0;
}

.card_container .card_avatar-user {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.card_container .card_avatar-user > img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}
.card_container .card_avatar-user > span {
  font-weight: 700;
}

.card_container .card_avatar-user > span,
.card_container .card_offer .card_details span:not(:first-child) {
  color: var(--grey);
  font-size: 1.2rem;
}

.card_container .card_offer > img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}

.card_container .card_offer .card_details {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.card_container .card_offer .card_details span:first-child {
  font-size: 1.4rem;
}
